# App
CI_ENV=development
APP_BASE_URL=http://localhost/alumni-influencers/
APP_ENCRYPTION_KEY=1234567890

# Logging
LOG_THRESHOLD=1

# Database
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=database
DB_PREFIX=
